.ulList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  justify-content: flex-start;
  z-index: 10;
  padding: 15;
}
.mainDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 10;
  position: absolute;
  z-index: 10;
  width: 98%;
}
.listItem {
  cursor: pointer;
  font-size: 14px;
  padding: 20px 0px;
  margin: 0px 20px;
  letter-spacing: 0.1em;
  display: inline-block;
  position: relative;
  opacity: 0.75;
  overflow: hidden;
}
.listItem::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #031D44;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.buttonDiv {
  padding: 8px 15px 8px 15px;
  border: solid 2px #000;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 50;
}
.buttonDiv:hover{
  transition: .3s ease-in;
  box-shadow: 1px 1px 5px #000;
}
.icon {
  margin-left: 5;
}
.icon:hover {
  transition: .5s;
  transform: translateX(-7px);
}
